<header>
	<h3 class="text-muted">protoKool</h3>
</header>

<input type="text" ng-model="computerCount" ng-change="computerCountChange()">

<section class="items">
	<div class="row">
		<div ng-repeat="computer in computers | limitTo:computerCount/2" class="item computer">
			{{computer}}
		</div>
	</div>	
	<div class="row">
		<div ng-repeat="computer in computers | limitTo:-computerCount/2" class="item computer">
			{{computer}}
		</div>
	</div>
	<div class="row">
		<div ng-repeat="other in others" class="item other">
			{{other}}
		</div>
	</div>
</section>


<aside class="protocol">

</aside>
